@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height:100dvh;
    display:flex;
    flex-direction:column;
    flex-grow:10;
}
.container{
    position: absolute;
    width:100%;
    height:100dvh;
}
header{
    background: #cf8344;
    height:80px;
    align-items:center;
    padding:20px;
    display:flex;
    color:white;
    width: 100%;
    font-size:2.5rem;
    font-family: "Metal Mania", system-ui;
    font-weight: 400;
}
main{
    padding:213px;
}
nav{
    width:100%;
    background: #884d1d;
    height:45px;
    display:flex;
    align-items:center;
    gap:10px;
    padding:10px;
}
nav a{
    color:black;
    text-decoration:none;
}
nav a:hover{
    color:rgb(64, 64, 64);
}
.scroll{
    display:flex;
    flex-direction:column;
    flex-grow:10;
    padding:10px;
    height: calc(100dvh - 80px - 45px -  40px);
}
footer{
    display:flex;
    background: #cf8344;
    height:40px;
    width:100%;
    align-items:center;
    justify-content:center;
}
.welcome{
    font-size:1rem;
    background: #b35b5b;
}
.text1{
    font-size:1rem;
    background: #d18c8c;
}