@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position:absolute;
    height:100dvh;
    width:100dvw;
    font-family: "Metal Mania", system-ui;
}
.container{
    position: absolute;
    display:flex;
    flex-direction: column;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
header{
    background: #cf8344;
    height:80px;
    align-items:center;
    padding:20px;
    display:flex;
    color:#000000;
    width: 100%;
    font-size:2.5rem;
    font-family: "Metal Mania", system-ui;
    font-weight: 400;
}
main{
    padding:213px;
    background-image:linear-gradient(to bottom,rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0)), url(1692601.jpg);
    background-size: cover;
}
nav{
    width:100%;
    background: #884d1d;
    height:45px;
    display:flex;
    align-items:center;
    gap:10px;
    padding:10px;
}
nav a{
    color:black;
    text-decoration:none;
}
nav a:hover{
    color:rgb(64, 64, 64);
}
.scroll{
    position:absolute;
    display:flex;
    flex-direction:row;
    top: calc(80px + 45px);
    height:calc(100dvh - 80px - 45px - 40px);
    gap:40px;
    padding:40px;
    z-index:100;
}
footer{
    display:flex;
    background: #884d1d;
    height:40px;
    width:100%;
    align-items:center;
    justify-content:center;
}
.welcome{
    font-size:1rem;
    background: #cf8344;
    width:22rem;
    padding:10px;
    align-items:center;
    justify-content:center;
    display:flex;
    border-radius:10px;
}
.text1{
    padding:10px;
    font-size:1rem;
    background: #cf8344;
    width:22rem;
    align-items:center;
    display:flex;
    border-radius:10px;
    flex-direction:column;
    gap:20px;
    padding:25px;
    text-align:center;
}
.text2{
    padding:10px;
    font-size:1rem;
    background: #cf8344;
    width:22rem;
    align-items:center;
    display:flex;
    border-radius:10px;
    flex-direction:column;
    gap:20px;
    padding:25px;
    text-align:center;
    
}