*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height:100dvh;
    display:flex;
    flex-direction:column;
    flex-grow:10;
}
header{
    background: #464646;
    height:200px;
    align-items:center;
    padding:20px;
    display:flex;
    color:white;
    width: 100%;
    overflow:hidden;
}